# Executáveis e arquivos compilados
train
*.o
*.out

# Arquivos temporários, backups e swap (ex: criados por editores de texto)
*~
*.swp

# Diretórios de build
build/

# Arquivos de log
*.log

# Configurações do VSCode (locais do usuário)
.vscode/
